// Настройки ввода и раскладки
input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
}
