// В файле config.kdl
include "modules/input.kdl"
include "modules/layout.kdl"
include "modules/styling.kdl"
include "modules/binds.kdl"
include "modules/rules.kdl"

spawn-at-startup "noctalia-shell"
spawn-at-startup "swaync"
spawn-at-startup "nm-applet" "--indicator"
